<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}, class: 'form-horizontal') do |f| %>
  <div>
    <h2>Forgot password?</h2>
    <hr>
  </div>
  <div>
    <%= devise_error_messages! %>
  </div>
  <div class="form-group has-danger">
    <%= f.label(:email, 'Email', class: 'sr-only') %>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
      <%= f.email_field :email, class: 'form-control', autofocus: true, id: 'email', placeholder: 'you@example.com' %>
    </div>
  </div>

  <div class="actions">
    <%= button_tag(class: 'btn btn-success') do %>
      <i class='fa fa-paper-plane'></i> Send
    <% end %>
  </div>
<% end %>
