  <!-- Counts Section -->
  <section class="dashboard-counts section-padding">
    <div class="container-fluid">
      <div class="row">
        <!-- Count item widget-->
        <div class="col-xl-3 col-md-4 col-6">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-user"></i></div>
            <div class="name"><strong class="text-uppercase">New users</strong><span>Last month</span>
              <div class="count-number"><%= @new_users_count %></div>
            </div>
          </div>
        </div>
        <!-- Count item widget-->
        <div class="col-xl-3 col-md-4 col-6">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-padnote"></i></div>
            <div class="name"><strong class="text-uppercase">Categories</strong><span>Last month</span>
              <div class="count-number"><%= @new_categories_count %></div>
            </div>
          </div>
        </div>
        <!-- Count item widget-->
        <div class="col-xl-3 col-md-4 col-6">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-check"></i></div>
            <div class="name"><strong class="text-uppercase">Goals</strong><span>Last month</span>
              <div class="count-number"><%= @new_goals_count %></div>
            </div>
          </div>
        </div>
        <!-- Count item widget-->
        <div class="col-xl-3 col-md-4 col-6">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-bill"></i></div>
            <div class="name"><strong class="text-uppercase">New Logs</strong><span>Last month</span>
              <div class="count-number"><%= @new_ledgers_count %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Statistics Section-->
  <section class="statistics">
    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-lg-4">
          <!-- Income-->
          <div class="card income text-center">
            <div class="icon"><i class="icon-line-chart"></i></div>
            <div class="number"><%= @total_categories %></div>
            <strong class="text-primary">Total Categories</strong>
            <p>Number of all categories defined by all users</p>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Income-->
          <div class="card income text-center">
            <div class="icon"><i class="icon-line-chart"></i></div>
            <div class="number"><%= @total_goals %></div>
            <strong class="text-primary">Total Goals</strong>
            <p>Number of all goals defined by all users</p>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Income-->
          <div class="card income text-center">
            <div class="icon"><i class="icon-line-chart"></i></div>
            <div class="number"><%= @total_ledgers %></div>
            <strong class="text-primary">Total Logs</strong>
            <p>Number of all logs defined by all users</p>
          </div>
        </div>

      </div>
    </div>
  </section>

