<div class="card">
  <div class="card-header d-flex align-items-center">
    <h3 class="h4">Categories</h3>
  </div>
  <div class="card-body">
    <div class="table-responsive table-striped">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Unit Type</th>
          <th>Unit Name</th>
          <th>Creation Date</th>
          <th>Last Update</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.unit_type %></td>
            <td><%= category.unit_name %></td>
            <td><%= category.created_at_formatted %></td>
            <td><%= category.updated_at_formatted %></td>
            <td>
              <%= link_to(edit_admin_category_path(category), id: "edit_category_#{category.id}") do %>
                <%= fa_icon 'edit' %>

              <% end %>
            </td>
            <td>
              <%= link_to(admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, authenticity_token: true) do %>
                <%= fa_icon 'trash' %>

              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'Add', new_admin_category_path, class: 'btn btn-primary' %>
  </div>
</div>
