<div class="card-body">
  <%= form_for [:admin, goal], html: {class: 'form-horizontal'} do |f| %>
    <% if goal.errors.any? %>
      <% goal.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
    <% end %>

    <div class="form-group row">
      <%= f.label :name, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', placeholder: 'read Ready Player One' %>
      </div>
    </div>
    <div class="line"></div>
    <div class="form-group row">
      <%= f.label :category, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%=
          f.select(
              :category_id,
              options_for_select(
                  categories.all.map do |c|
                    [c.name, c.id, { parent_type: c.unit_type, unit_name: c.unit_name }]
                  end,
                  selected: goal[:category_id]
              ),
              {},
              {
                  class: 'form-control',
                  onChange: 'show_category_unit_name();'
              }
          )
        %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :target, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-2">
        <%= f.radio_button :frequency, 'daily', onclick: "disable_end_target()" %>
        <%= f.label "frequency_daily", 'Daily' %>
      </div>

      <div class="col-sm-2">
        <%= f.radio_button :frequency, 'weekly', onclick: "disable_end_target()" %>
        <%= f.label "frequency_weekly", 'Weekly' %>
      </div>

      <div class="col-sm-2">
        <%= f.radio_button :frequency, 'monthly', onclick: "disable_end_target()" %>
        <%= f.label "frequency_monthly", 'Monthly' %>
      </div>

      <div class="col-sm-4" style="display:flex; flex-direction:row">
        <%= f.radio_button :frequency, 'other', onclick: "enable_end_target()" %>
        &nbsp;
        <%= f.label "frequency_other", 'Other' %>
        &nbsp;&nbsp;
        <%= f.text_field :end_target, class: 'datepicker', style: 'flex: 1', id: 'end_target_id' %>
      </div>
    </div>
    <div class="form-group row" id="goal_value_div">
      <%= f.label :goal_value, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :goal_value, class: 'form-control', placeholder: '500' %>
      </div>
      <div id="unit_name"></div>
    </div>
    <div class="form-group row">

      <%= f.label :new_entry_add_to_total, 'Add new entries to total', class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.check_box :new_entry_add_to_total, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-4">
        <%= f.submit "Submit", class: 'btn btn-primary' %>
        <%= link_to 'Cancel', admin_goals_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>
<script>
  <% if goal.new_record? || goal.frequency != 'other' %>
  document.getElementById('end_target_id').disabled = true;
  <% end %>

  $(function () {
    $('.datepicker').datepicker({dateFormat: "yy-mm-dd"}).val();
  });

  function disable_end_target() {
    document.getElementById('end_target_id').value = '';
    document.getElementById('end_target_id').disabled = true;
  }

  function enable_end_target() {
    document.getElementById('end_target_id').disabled = false;
  }

  function show_category_unit_name() {
    document.getElementById('unit_name').innerText = ''

    var category = document.getElementById("goal_category_id");
    var unit_name = category.options[category.selectedIndex].getAttribute('unit_name');
    var category_type = category.options[category.selectedIndex].getAttribute('parent_type');
    if(unit_name != '') {
      document.getElementById('unit_name').innerText = unit_name
    }else if (category_type == 'boolean' ) {
      document.getElementById('unit_name').innerText = 'times'
    }
  }

  show_category_unit_name()

</script>
