<%= stylesheet_link_tag 'admin/goals', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="card">
  <div class="card-header d-flex align-items-center">
    <h3 class="h4">Goals</h3>
  </div>
  <div class="container-fluid">
    <% @goals.each_slice(3) do |goal_batch| %>
      <div class="row" style="padding: 5px">
        <% goal_batch.each do |goal| %>
          <div class="col-md-4 border rounded">
            <div class="row icons">
              <div class="col-md-1">
                <%= link_to(new_admin_ledger_path(goal: goal), id: "log_goal_#{goal.id}") do %>
                  <%= fa_icon 'save', class: 'icons' %>
                <% end %>
              </div>
              <div class="col-md-8"></div>
              <div class="col-md-1">
                <%= fa_icon 'info', class: 'icons' %>
              </div>
              <div class="col-md-1">
                <%= link_to(edit_admin_goal_path(goal), id: "edit_goal_#{goal.id}") do %>
                  <%= fa_icon 'edit', class: 'icons' %>

                <% end %>
              </div>
              <div class="col-md-1">
                <%= link_to(
                        admin_goal_path(goal),
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        authenticity_token: true,
                        id: "delete_goal_#{goal.id}") do %>
                  <%= fa_icon 'trash', class: 'danger' %>

                <% end %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <%= link_to(goal.name, admin_goal_url(goal), class: 'goal-title') %>
              </div>
            </div>
            <% unless goal.progress.nil? %>
              <div class="row" style="padding-top: 10px;">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= goal.progress_percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <div class="text-center" style="padding-top: 5px">
                    <%= goal.progress %>/<%= goal.goal_value %>
                  </div>
                  <div class="text-center">
                    <%= goal.progress_unit %>
                  </div>
                </div>

                <div class="col-md-2"></div>
              </div>

            <% end %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Add', new_admin_goal_path, class: 'btn btn-primary' %>
